# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/

# Local env files
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp

# inside server/.gitignore
node_modules/
.env